{{ $c := "c-section-call-to-action-block"}}

<div class="{{ $c }}" style=" background-color: {{ .section_background_color }}">
    <div class="{{ $c }}__text-block">
        <h2 class="{{ $c }}__heading">{{ .heading }}</h2>
        <p class="{{ $c }}__text">{{ .text | markdownify }}</p>
    </div>
    <div class="{{ $c }}__button-block">
        <button class="{{ $c }}__white-button">{{ .white_button }}</button>
        <button class="{{ $c }}__green-button">{{ .green_button }}</button>
    </div>

</div>