{{ $c := "c-section-left-table-block"}}

<div class="{{ $c }}" style=" background-color: {{ .section_background_color }}">
    <div class="{{ $c }}__left">
        <div>
            <h4 class="subtitle {{ $c }}__text__subtitle">{{ .subtitle }}</h4>
            <p class="text {{ $c }}__text__body">{{ .text }}</p>
        </div>

            <div class="{{ $c }}__table">
                <div class="{{ $c }}__table__tile">
                    <img src="{{ .icon1_path }}">
                    <p class="{{ $c }}__table__bold">Deforestation</p>
                    <p class="{{ $c }}__table__content">20% of current greenhouse gases are due to tropical forest destruction</p>
                </div>
                <div class="{{ $c }}__table__tile">
                    <img src="{{ .icon2_path }}">
                    <p class="{{ $c }}__table__bold">Print Footprint</p>
                    <p class="{{ $c }}__table__content">30% of trees cut down are used for paper processing, essential business printing needs to do more than minimize paper waste</p>
                </div>
                <div class="{{ $c }}__table__tile">
                    <img src="{{ .icon3_path }}">
                    <p class="{{ $c }}__table__bold">Climate change</p>
                    <p class="{{ $c }}__table__content">One mature tree absorbs more than 48 pounds of carbon dioxide each year, that's enough oxygen to keep a human breathing for 2 years!</p>
                </div>
            </div>  
    </div> 

        <div class="{{ $c }}__image">
            <img src="{{ .image_path }}" alt="{{ .image_alt }}">
        </div>
</div>