.c-section-video-center-block {
    width: 100%; 
    grid-template-columns: var(--twelve-column-grid);
    display: grid;
    padding: 96px 0px;

        &__text-div{
            text-align: center;
            grid-column: 4/12;
            @media (max-width: 1023px){
                grid-column: 1/15;
                padding: 0 10px;
            }
        }

        &__title {
            font-family: 'Barlow', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            color: #3B3B3D;
            margin: 0;
        }

        &__subtitle {
            color: #26A726;
            font-family: 'Barlow', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            
        }

        &__video-div{
            grid-column: 2/14;
            display: grid;
            grid-template-columns: auto auto;

            @media (max-width: 1023px){
                grid-column: 3/13;
            }
            img{max-width: 80%}
        }

        &__video-background-left{
            grid-column: 1;
            grid-row: 1;
        }

        &__video-background-right{
            grid-column: 2;
            grid-row: 1;
            justify-self: flex-end;
            
        }

        &__video{
            grid-column: 1/3;
            grid-row: 1;
            justify-self: center;
            align-self: center;
            img{ 
                max-width: 100%;
                justify-self:center;
        }
                @media  screen and  (max-width: 1023px){
          } 
        } 
}
