.c-section-left-table-block {
    width: 100%; 
    grid-template-columns: var(--twelve-column-grid);
    display: grid;
    padding: 96px 0px;

    &__text {
        grid-column: 2/9;
        @media(max-width: 1200px){
            grid-column: 1/14;
            padding-top: 20px;
            padding-left: 10px;
            grid-row: 2;
            text-align: center;
        }
    }

    &__text__subtitle {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    &__text__body {
        padding-bottom: 30px;
        grid-column: 1/4;
    }

    &__image {
        grid-column: 10/14;
        justify-self: flex-end;
        @media(max-width: 1200px){
            grid-column: 10/15;
            grid-row: 1;
        }
    }

    &__table {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        margin-top: 10px;
        @media (max-width: 1200px){
            grid-template-columns: 1fr;
        }
    }
    
    &__table__bold {
        font-weight: 700;
        padding-top: 8px;

    }
        
    &__table__content {
        padding-right: 25px;
    }
}