.c-section-image-cards-block {
    width: 100%; 
    grid-template-columns: var(--twelve-column-grid);
    display: grid;
    padding: 96px 0px;
    
    &__top-text {
        text-align: center;
        grid-column: 2/14;
        display: block;
        @media screen and (max-width: 1200px){
          text-align: center;
        }
  }
    
  &__card-block {
     grid-column: 2/14;
     justify-self: center;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     @media screen and (max-width: 1200px){
      grid-template-columns: 1fr;
     }
  }
  
}