.c-left-right-with-buttons-block {
    width: 100%; 
    grid-template-columns: var(--twelve-column-grid);
    display: grid;
    padding: 96px 0px;

    &__top-text {
        text-align: center;
        grid-column: 2/14;
        @media screen and (max-width: 1200px){
            grid-row: 1;
        }
  }

    &__quote-block {
        grid-column: 2/8;
        @media(max-width: 1200px){
          grid-column: 1/14;
          margin-left: 10px; 
          grid-row: 3;
        }
    }

    &__quote-text p {
        font-size: 25px;
    }

    &__author p {
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__mark {
        color: #26A726;
        margin: 0;
        font-size: 100px;
    }

    &__green-button {
        background-color: #26A726;
        color:#FFFFFF;
        @media(max-width: 1200px){
            margin-bottom: 20px;
        }
    }

    &__image-block {
        grid-column: 8/14;
        grid-template-columns: 1fr 1fr;
        display: grid;
        @media(max-width: 1200px){
            grid-column: 1/15;
            grid-row: 2;
        }
        img {
        padding: 10px;
        max-width: 90%;
    }
        
    }
    

}
