.c-section-graph-block {
    background-color: #FFFFFF;
    grid-template-columns: var(--twelve-column-grid);
    display: grid;
    padding: 96px 0px;

        &__text {
            text-align: center;
            grid-column: 2/14;
            @media(max-width: 1200px){
                grid-row: 1;
            }
        }

        &__image_left {
            grid-column: 2/8;
            margin-top: 60px;
            @media(max-width: 1200px){
                grid-column: 1/14;
                margin-left: 20px;
                grid-row: 2;
                justify-self: center;
                max-width: 100%;
            }
            img{max-width: 100%;}
        }

        &__image_right {
            grid-column: 8/14;
            margin-top: 60px;
            @media(max-width: 1200px){
                grid-column: 1/14;
                margin-left: 20px;
                grid-row: 2;
                justify-self: center;
                max-width: 100%;
            }
            img{max-width: 100%;}
        }

        &__accordian_right {
            grid-column: 10/14;
            margin-top: 60px;
            display: flex;
            display: block;
            @media(max-width: 1200px){
                grid-column: 1/14;
                grid-row: 3;
            }
        
                p {
                    color: #3B3B3D;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    padding-left: 40px;
                }
        }

        &__accordian_left {
            grid-column: 2/6;
            margin-top: 60px;
            display: flex;
            display: block;
            @media(max-width: 1200px){
                grid-column: 1/14;
                grid-row: 3;
            }
        
                p {
                    color: #3B3B3D;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    padding-left: 40px;
                }
        }

    details {
            align-self: center;
            border-bottom: solid 1px #D9D9DC;
            border-top: solid 1px #D9D9DC;
            &::marker {
                display: none;
            }
            &[open] {
               background-color: #F3FAF4; 
                .c-section-graph-block__icon--vertical{
                    height: 0;
                }
            }
        }

    summary {
            position: relative;
            display: flex;
            align-items: center;

            h5 {
                font-family: 'Source Sans Pro', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16.0355px;
                display: inline;
                margin-left: 60px;
            }
            &::-webkit-details-marker {
                display:none;
            }
            &::marker{
                display: none;
                }
            &:hover{
                cursor: pointer;
                }
            img{
                height: 32px;
                position: absolute;
                left: 15px;
                }
            .c-section-graph-block__icon--horizontal{
            transform: rotate(90deg);
        }
        span{
            position: absolute;
            display: block;
            height: 20px;
            width: 4px;
            right: 32px;
            background-color: #3B3B3D;
            border-radius: 2px;
            transition: all 0.2s ease-in-out;
        }   
    }

    &__content{
        padding-right: 20px;
    }
       
}
