.c-left-right-with-quote-block {
    width: 100%; 
    grid-template-columns: var(--twelve-column-grid);
    display: grid;
    padding: 96px 0px;
    overflow: hidden;

    &__title {
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: #3B3B3D;
        margin: 0;
    }

    &__subtitle {
        color: #26A726;
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
    }

    &__top-text {
        text-align: center;
        grid-column: 4/12;
        @media screen and (max-width: 1023px){
            grid-row: 1;
            grid-column: 2/14;
        }
  }

    &__quote-block_left {
        grid-column: 2/8;
        @media(max-width: 1023px){
          grid-column: 1/14;
          margin-left: 10px; 
          grid-row: 3;
        }
    }
    &__quote-block_right {
        grid-column: 8/14;
        @media(max-width: 1023px){
          grid-column: 1/14;
          margin-left: 10px; 
          grid-row: 3;
        }
    }


    &__quote-text p {
        font-size: 25px;
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 40px;
        color: #3B3B3D;
    }
    &__quote-mark{
            fill:#26A726;
        }

    &__author p {
        margin-bottom: 30px;
        color: #3B3B3D;
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }

    &__mark {
        color: #26A726;
        margin: 0;
        font-size: 100px;
    }

    &__green-button {
        background-color: #19892B;
        border: 2px #19892B solid;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        gap: 10px;
        color:#FFFFFF;
        text-transform: uppercase;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px; 
        @media(max-width: 1023px){
            margin-bottom: 20px;
        }
    }
    &__white-button {
        background-color: #FFFFFF;
        border: 2px #19892B solid;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        gap: 10px;
        color:#19892B;
        text-transform: uppercase;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px; 
        @media(max-width: 1023px){
            margin-bottom: 20px;
        }
    }

    &__image-block_right {
        grid-column: 8/14;
        display: flex;
        padding-bottom: 40px;
        @media(max-width: 1023px){
            grid-column: 1/15;
            grid-row: 2;
            justify-content: center;
        }
        img {
        max-height: 480px;
        padding: 10px;
        @media(max-width: 1023px){
            max-width: 30%;
            max-height: auto;
            }
    }
    }

    &__image-block_left {
        grid-column: 2/8;
        display: flex;
        padding-bottom: 40px;
        @media(max-width: 1023px){
            grid-column: 1/15;
            grid-row: 2;
            justify-content: center;
        }
        img {
        max-height: 480px;
        padding: 10px;
        @media(max-width: 1023px){
            max-width: 30%;
            max-height: auto;
            }
    }
    }
    

}
