.c-banner-with-video-background-block {
    background-color: #FFFFFF;
    grid-template-columns: var(--twelve-column-grid);
    display: grid;
    padding: 0px 0px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin: -10px;


    &__background img{
    width: 110vw;
    height: 110%;
    object-fit: cover;
     }

    &__background{
        max-height: 480px;
        width: 100%;
        grid-column: 1/15;
        grid-row: 1;  
    }
    @media screen and (max-width:478px){
       height: auto;
    }
    
    &__text-section {
        margin-top: 96px;
        grid-row: 1;
        grid-column: 2/8;
        @media screen and (max-width:478px){
            grid-column: 3/13;
            text-align: center;
        }
        img{
            max-width: 100%
        }
    }

    &__text-section h2 {
        color: #FFFFFF;
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
    }

    &__green-button {
        background-color: #19892B;
        border: 2px #19892B solid;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        gap: 10px;
        color:#FFFFFF;
        text-transform: uppercase;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 92px;
    }

}
