{{ $c := "c-simple-image-card"}}

<div class="{{ $c }}">

        <div class="{{ $c }}__card">
          <div class="{{ $c }}__card__image-block">
            <img src="{{ .image }}" class="{{ $c }}__card__image">
            <img src="{{ .icon }}" class="{{ $c }}__card__icon">
          </div>
          
          <div class="{{ $c }}__card__text-block">
            <h5>{{ .title }}</h5>
            <p>{{ .summary }}</p>
            <a href="{{ .link }}">Visit site</a>
          </div>
        </div>
</div>